@media only screen and (max-width : 1440px)
	body
		font-size: 16px
		
	.container
		max-width: 1200px


@media only screen and (max-width : 1200px)
	h1
		font-size: 34px

	.container
		max-width: 992px

@media only screen and (max-width : 992px)
	body
		font-size: 14px

	.container
		max-width: 767px

@media only screen and (max-width : 767px)
	.container
		max-width: 576px


@media only screen and (max-width : 576px)
	.container
		max-width: 100%

	.form

		input,
		textarea
			font-size: 14px

			&::placeholder
				font-size: 14px

		input
			height: 45px
			line-height: 45px

			&::placeholder
				line-height: 45px


@media only screen and (max-width : 480px)
	h1
		font-size: 28px

	h2, h3
		font-size: 18px

	.modal
		padding: 15px
